.image{
    display: block;
    
    background-image: url(https://miro.medium.com/max/720/1*O4oAOnufvUx8ztPgVe3v2A.png);
    background-repeat: no-repeat;

    width: 720px;
    height: 260px;

    margin: 35px auto;

    border: 1px solid #ccc;
    border-radius: 15px;
}

.col-form-label{
    display: block;
    margin: 10px auto;
    font-weight: bold;
}

.resultados{
    display: none;

    font: normal lighter 15px verdana;

    width: 80%;
    
    margin: 20px;
    padding: 20px;
    
    border: 1px solid #000;
}

.btn{
    width: 200px;
    margin-top: 40px;
}


.form-control{
    width: 80%;
}