.image{
    display: block;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/41KfAWjStkL._AC_SR400,600_.jpg);
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;
    height: 450px;

    margin: 35px auto;

    border-radius: 15px;
}

h3{
    font: lighter 20px 'Roboto Mono';
    text-align: center;
}


/*Estilos para el ejemplo*/
.voto{
    padding: 0
}

.voto li{
    display: inline;

    margin: 20px 0;
}

.voto a{
    float: center;

    padding: 5px 6px;
    
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    
    color: #fff;
    background-color: #3BA1D8;
    
    border: 1px solid #A6ADB1;
    border-radius: 7px;
}

#resultados{
    clear: left;
}
