

label{
    margin-left: 0;
    text-align: left;
}

button{
    display: block;
    margin-left: 10px;
}

input{
    width: 100px;
}

textarea{
    margin-left: 12px;
}

input{
    width: 30%
}

#resultados{
    margin-top: 30px;
}