.col-sm-4,
.col-sm-8{
    display: flex;
    justify-content: center;
}

a{
    display: block;
    margin: 10px auto;
    text-align: left;
    font: 16px 'Roboto Mono';
}

a:hover{
    text-decoration: none;
    color: #E6791E;
}

.comentarios{
    display: none;
    
    width: 90%;
    
    margin: 10px auto;
    padding: 10px 20px;

    border: 1px solid #E6791E;
    border-radius: 15px;

    background-color: #F5CAA6;

    font: 17px Monospace;
    text-align: justify;
}

h3{
    font-size: 20px;
    text-align: center;
}