.headline{
    display: none;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.headline{
    display: none;
}

#pais{
    display: block;
    margin: 30px auto;
    width: 200px;
}

#resultados{
    display: none;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 3px;
}