.funciones{
    color: #ff0000;
    text-decoration: none;
}

.formulario{
    background-color: #D6F2FB;
    padding: 10px;

    border: 2px solid #1486AE;
    border-radius: 5px;
}

#resultados{
    margin: 30px auto;
    font-weight: bolder;
}

input,
label{
    display: block;
    margin: 20px auto;
}

#numero{
    width: 80px;
}


