.formulario{
    display: block;
    padding: 10px;

    background-color: #DEF4FB ;
    border: 2px solid #1486AE;
    border-radius: 5px;
}

input,
label{
    display: block;
    margin: 15px auto;
}

#numero{
    width: 100px;
}

#resultados{
    display: none;

    margin: 20px auto;
    padding: 5px;
    width: 350px;

    font-weight: bolder;

    border: 2px solid #93F862;
    border-radius: 5px;
}

