
#menu{
    margin: 5px;

    font-family: Arial, Helvetica, sans-serif;
}

#menu p{
    margin: 0;
    padding: 0;
}

#menu a{
    display: block;

    padding: 3px;
    width: 160px;

    background-color: #f7f8e8;
    border-bottom: 1px solid #eee;

    text-align: center;

    box-shadow: 10px 8px 31px -9px rgba(186,113,46,0.75);
    -webkit-box-shadow: 10px 8px 31px -9px rgba(186,113,46,0.75);
    -moz-box-shadow: 10px 8px 31px -9px rgba(186,113,46,0.75);
}

#menu a:link,
a:visited{
    color: #f00;
    text-decoration: none;
}

#menu a:hover{
    background: #369;
    color: #fff;
}

#detalles{
    margin: 20px 5px;
    padding: 5px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #ffc;
    border: 1px solid #fa0;
    border-radius: 5px;
    border-width: 0;

    box-shadow: 10px 8px 31px -9px rgba(186,113,46,0.75);
    -webkit-box-shadow: 10px 8px 31px -9px rgba(186,113,46,0.75);
    -moz-box-shadow: 10px 8px 31px -9px rgba(186,113,46,0.75);
}

#detalles p{
    text-align: center;
}