/*Estilos definidos para la plantilla*/

.container{
    background: #FAFAFA;
    color: #212F3D;
    text-align: center;
    font-size: 16px;
    padding: 20px 30px;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1{
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
}

h2{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

p{
    margin: 20px;
    text-align: justify;
}

li{
    margin: 20px;
    text-align: justify;
    list-style: disc;
}

span{
    font-weight:bold;
    font-style:oblique;
    text-align: left;
}

/* Estilos del ejercicio */

label,
input,
.btn{
    display: block;
    margin: 20px auto;
}

textarea{
    padding: 30px;
    margin-bottom: 15px;
}

.btn{
    width: 100px;
    padding: 5px;
    margin: 20px auto;
}

