
.cuadradito{
    background: #D1F2EB;
    border: 1px solid #AEB6BF;
    height: 100px;
    width: 100px;
    margin: 5px;
    z-index: -1;
}

#divmensaje{
    background: #EDE42F;
    position: absolute;
    visibility: hidden;
    padding: 5px;
    width: 250px;
    z-index: 100;
}
