
#resultados {

    visibility: hidden;

    margin: 40px auto;
    padding: 5px 10px;

    position:absolute;
    background:#BBE5F3 ;

    border: 1px solid #22C2F7;
    border-radius: 10px;
}

label,
input{
    margin: 40px auto;
}

label{
    font-weight: bolder;
    text-align: right;
}

input[id="palabra"]{
    width: 70%;
}