#dni{
    width: auto;
    margin: 20px auto;
}

label{
    display: block;
    margin: 10px auto;
    font-weight: bold;
}

#resultados{
    margin: 20px auto;
    text-align: left;
    padding: 10px;
}